CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
service/CMakeFiles/
service/Makefile
service/cmake_install.cmake
service/libservice-lib.a
service/policykit-agent
tests/agent-test
tests/gmock/
tests/libgtest.a
CTestTestfile.cmake
Testing/
tests/CTestTestfile.cmake
